body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #332717;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #997450;
  padding: 10px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: black;
}

li a:hover:not(.active) {
  background-color: #3d5c2c;
  color: white;
}
